button {

    font-size: 250%;
    margin-bottom: 0.3%;
    margin-top: 0.3%;
    padding-left: 7%;
    padding-right: 7%;
    width: 19%;
}

body{
    font-size: 199%;
    text-align: center;
}

input{
    width: 98%;
    font-size: 200%;
    text-align: center;

}

div {
    text-align: left;
    padding-left: 5%
}
