body{
    background-color: cadetblue;
    text-align: center;
}

#pantall{
    margin-top: 4%;
    width: 800px;
    height: 500px;
}
#pantall img{
    width: 100%;
    height: 100%;
    margin-left: 43%;
}

#botons{
    margin-top: 2%;
}
#botons button{
    font-size: 140%;
    width: 15%;
}