body{
    background-color: cadetblue;
    text-align: center;
}


#pantall{
    float: left;
    margin-top: 4%;
   
}

#pantall img {
    width: 800px;
    height: 500px;
    border: thick black solid;
}


#botons{
    clear: both;
    padding-top: 38%;
}
#botons button{
    font-size: 140%;
    width:15%;
}

#pantall #imgactual{
    display: block;
    
    position: fixed;
    /*right: 23%; VALOR CENTRADO */ 
    right:23.2%;

}


#pantall #imgder{
   display: none;
    
    position: fixed;
    /*right: 17.5%; VALOR CENTRADO */ 
    right:0;

}

#pantall #imgizq{
   display: none;
    
    position: fixed;
    /*right: 17.5%; VALOR CENTRADO */
    right:0;

}